<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:exported="true">

            <!-- Receive sih26041://training?... deep links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="sih26041"
                    android:host="training" />
            </intent-filter>

        </activity>

    </application>

</manifest>
